* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 140vw;
  height: 100vh;
  overflow: hidden;
  background-color: darkblue;
  background: url(/stars.jpg);
  background-position: center;
  background-size: cover;
  cursor: grab;
}
span {
  position: absolute;
  width: 80px;
  height: 80px;
  cursor: grabbing;
  background: url(/img.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  pointer-events: none;
  border-radius: 50%;
}
